__pycache__/
.pytest_cache/
.pytest_cache
*.npz
*.pth
*.pt
*.pkl
dist/
*.whl
*tar.gz


*.npz
*.egg-info
__pycache__
dist
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

